# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
